# Carpetas de compilación de NetBeans
/build/
/dist/

# Ignorar TODA la carpeta de configuración del IDE local
/nbproject/

# Bloquear todos los archivos JAR del sistema por defecto
**/*.jar

# EXCEPCIÓN: Permitir únicamente tu conector de MySQL en la carpeta lib
!lib/mysql-connector-j-*.jar
